.home-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4%;
    
    
}

.products-div{
    border: 2px solid grey;
    padding: 1%;
    margin: 2%;
    width: 30%;
}

img{
    width: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.nav-2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 2%;
    margin-top: 19px;
}

.nav-1{
    margin-left: 2%;
   
}

button{
    background-color: black;
    color: white;
    width: 100%;
    cursor: pointer;
    
}

button:hover{
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.inactive{
    color: white;
    text-decoration: none;
}
.active{
    color: greenyellow;
    text-decoration: none;
}
.cart-img{
    width: 30%;
}
.msg{
    color: green;
}
.price-flex{
    display: flex;
    
    
}
.check-out{
    background-color: black;
    width: 53%;
    padding: 2%;
    color: whitesmoke;
    /* position: relative; */
    border: 2px solid greenyellow;
}
.main-checkout{
    border-bottom: 2px solid greenyellow;
}
.checkout-flex{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}
.cart-div{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid grey;
    padding: 1%;
    margin: 2%;
    width: 23%;
    
}
.checkout-btn{
    background-color: greenyellow;
    color: black;
    font-weight: bold;
}
.total-price{
    display: flex;
    justify-content: space-between;
}
.cart-product-wrap{
    display: flex;
    flex-wrap: wrap;
}
.checkout-img{
    width: 100%;
}